{% extends './../pages/base.html' %}
{% block conteudo %}

<div class="container mt-4">
    <h1 class="text-center">Buscar Manutenção pelo Mecânico</h1>

    <form action="{% url 'forum_manutencao_mecanico' %}" method="post" class="text-center">
        {% csrf_token %}

        <div class="form-group">
            <input type="text" class="form-control" id="name" name="name" placeholder="Nome do Mecanico" required>
        </div>

        <button type="submit" class="btn btn-success">Buscar</button>
    </form>
</div>

{% endblock %}
