{% extends './../pages/base.html' %}
{% block conteudo %}

<div class="container mt-4">
    <h1 class="text-center">Buscar Manutencao pelo Veiculo</h1>

    <form action="{% url 'forum_manutencao_veiculo' %}" method="post" class="text-center">
        {% csrf_token %}

        <div class="form-group">

            <input type="text" class="form-control" id="name" name="name" placeholder="Digite a placa do veiculo" required>
        </div>

        <button type="submit" class="btn btn-success">Buscar</button>
    </form>
</div>

{% endblock %}
