{% extends './../pages/base.html' %}
{% block conteudo %}
    <div class="container mt-4">
        <h1 class="text-center">Detalhes das Manutenções</h1>
        {% for manutencao in manutencoes %}
        <div class="card my-4 bg-light">
            <div class="card-body">
                <h2 class="card-title">Veículo: {{ manutencao.manutencao.vehicle }}</h2>
                <p class="card-text">Km: {{ manutencao.manutencao.Km }}</p>
                <p class="card-text">Mecânico Responsável: {{ manutencao.manutencao.mechanic }}</p>
                <p class="card-text">Data: {{ manutencao.manutencao.date }}</p>
                <p class="card-text">Comentários: {{ manutencao.manutencao.comments }}</p>
    
                <h3 class="card-title">Peças Utilizadas:</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Quantidade</th>
                            <th>Preço Unitário</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for peca in manutencao.pecas.all %}
                        <tr>
                            <td>{{ peca.nome }}</td>
                            <td>{{ peca.quantidade }}</td>
                            <td>{{ peca.preco_unitario }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
