<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oficina Mecanica</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .navbar {
            background-color: #696969;
        }
        .navbar-nav.ml-auto .nav-link {
            color: #fff;
        }
        .navbar-nav.ml-auto .nav-link:hover {
            color: #aaa;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="clientesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Clientes
                </a>
                <div class="dropdown-menu" aria-labelledby="clientesDropdown">
                    <a class="dropdown-item" href="{% url 'cad_cliente' %}">Cadastro</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="veiculosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Veículos
                </a>
                <div class="dropdown-menu" aria-labelledby="veiculosDropdown">
                    <a class="dropdown-item" href="{% url 'cad_veiculo' %}">Cadastro de Veículo</a>
                    <a class="dropdown-item" href="{% url 'cad_manutencao' %}">Manutenção</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="relatoriosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Relatórios
                </a>
                <div class="dropdown-menu" aria-labelledby="relatoriosDropdown">
                    <a class="dropdown-item" href="{% url 'filter_cliente_veiculo' %}">Filtro Cliente Veiculo</a>
                    <a class="dropdown-item" href="{% url 'filter_manutencao_veiculo' %}">Filtro Manutencao Veiculo</a>
                    <a class="dropdown-item" href="{% url 'filter_manutencao_mecanico' %}">Filtro Manutencao Mecanico</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="mecanicosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mecânicos
                </a>
                <div class="dropdown-menu" aria-labelledby="mecanicosDropdown">
                    <a class="dropdown-item" href="{% url 'cad_mecanico' %}">Cadastrar Mecânico</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
        </ul>
    </nav>

    {% block conteudo %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
